{% extends 'contact/base.html' %}

{% block title %}Persons{% endblock %}

{% block body %}

<div class="container-fluid">
  <h2>Contacts</h2>
{#  <p>Combine .table-dark and .table-striped to create a dark, striped table:</p>#}
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Email</th>
        <th>Detail view</th>
        <th>Change data</th>
      </tr>
    </thead>
    <tbody>
    {% for contact in object_list %}
      <tr>
        <td>{{ contact.first_name }}</td>
        <td>{{ contact.last_name }}</td>
        <td>{{ contact.email }}</td>
        <td> <p><input type="button" value="Show detail view" onclick="location.href='{% url 'contact:detail_view' contact.pk %}'" ></p> </td>
        <td> <p><input type="button" value="Change contact's data" onclick="location.href='{% url 'contact:change' contact.pk %}'"></p> </td>

      </tr>
    {% endfor %}
    </tbody>

{% endblock %}