{% extends 'contact/base.html' %}

{% block menu %}{% include 'contact/menu-top.html' %}{% endblock %}
{% block title %}Detail view{% endblock %}

{% block body %}

<h1>Detail view</h1>
<p>First name: {{ detail_view_object.first_name }}</p>
<p>Last name: {{ detail_view_object.last_name }}</p>
<p>Date of birth: {{ detail_view_object.date_of_birth }}</p>
<p>Email: {{ detail_view_object.email}}</p>

<p><input type="button" value="Change data" onclick="javascript:document.location.href='http://localhost:8000/contact/change/{{ detail_view_object.pk }}'"<p>


{% endblock %}